<h1>Welcome <%= @user.name %>!</h1>
<h4>You have successfully signed up for our social media website.</h4>

<p>
  Click on this link to sign in and view your profile.
  <%= link_to "my profile", @url %>
</p>