<h2>Edit profile</h2>
<%# Fix create post in navbar. If you click from somewhere other than dashboard path then it will be weird %>
<% if current_user.name.nil? %>
  Please create a username for other users to see
<% end %>
<%= render partial: 'profile_form', locals: { user: @user } %>
