<%= link_to "Back", :back, class: 'fs-1'%>
<div class="mt-3 mb-3 d-flex justify-content-center">
  <% if @user.followers.empty? %>
    <p class="fs-1">This user has no followers</p>
  <% else %>
    <%= render partial: 'follow_list', collection: @followers, as: :user %>
  <% end %>
</div>
<%= render partial: "shared/pagination", locals: { pagy: @pagy } %>